
/* PRONTOS */
.border-b{
    border-bottom: 1px solid rgba(71 85 105 0.8);
}
.border{
    border: 4px solid rgba(71 85 105 0.8);
}
.border:hover{
    border: 1px solid rgba(71 85 105 0.8);
}

/* PRONTOS */

/* HEADER */
html .application {
    /* -webkit-transform: translateX(0); */
    transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

.application{
    background-color: #fff !important;
}
/* #visualAbas{
    visibility: hidden;
}
#colFotos{
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
} */

#showcase-relative{
    display: flex;
    flex-direction: column !important;
}

#showcase-relative > h2{
    position: relative;
}

#product-name-relative{
    color: black;
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */  
    font-weight: 700; 
}

/* BREADCRUMB */
.page-product .breadcrumb .icon-breadcrumb:before {
    font-size: 0.5rem;
    border-radius: 100%;
    margin-top: -20px;
    position: relative;
    top: -2px;
}
.icon-breadcrumb:before {
    content: " ";
    background-color: #656565;
    margin: 0 8px;
}
.breadcrumb > .breadcrumb-item {
    font-size: 13px;
    color: #656565;
}
.breadcrumb{
    font-size: 14px;
}
.breadcrumb > .breadcrumb-item{
    font-size: 14px;
}
.breadcrumb > .breadcrumb-item a{
    font-weight: 700;
} 
/* valor do produto pricing */
.page-product #preco .PrecoPrincipal {
    color: #000 !important;
    display: block;
    height: 45px;
    font-family: "Roboto",sans-serif;
    font-size: 2.9rem !important;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 10px;
}
abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: none;
}
/* variações de produto */
.page-product #menuVars {
    display: block;
    margin-bottom: -15px;
}
.page-product .texto_variacao h2 {
    font-family: "Roboto",sans-serif;
    font-size: 1rem; /* 12px */
    line-height: 1rem; /* 16px */
    font-weight: 400;
    margin: 10px 0;
    color: #656565;
}
.page-product .texto_variacao h2 {
    font-family: "Roboto",sans-serif;
    font-size: 1.3rem;
    line-height: 1rem;
    font-weight: 400;
    margin: 10px 0;
    color: #656565;
}
ul#carousel {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: top;
    gap: 5px;
    height: 100%;
    overflow: auto;
    align-items: center;
}
/* BUTÃO COMPRAR */
button#button-buy{
    width: 100%;
    background-color: #000;
    color: white;
}
/* CEP*/
#cep{
    margin-top: 20px;
}
#cepbox > label {
    display: none;
}
.page-product #cepbox .botao-simular-frete {
    background: #4b8cdc;
    color: #fff;
    font-size: 1.4rem;
    height: 40px;
    margin-left: 10px;
    padding: 14px;
    vertical-align: top;
    margin-top: 0;
}
.page-product #cepbox input {
    background: #fff;
    border: 1px solid #e2e2e2;
    height: 40px;
    margin: 0;
    text-align: center;
}
#cepbox > input#cep1{   
    width: 60%;
}
.page-product #cepbox .botao-simular-frete {
    background: #4b8cdc;
    color: #fff;
    width: 82px;
    font-size: 1.4rem;
    right: 2px;
    height: 40px;
    padding: 8px;
    vertical-align: top;
}
.page-product #cepbox {
    color: #aaa;
    font-family: "Roboto",sans-serif;
    font-size: 1.4rem;
    font-weight: 450;
    line-height: 1.4rem;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-product .additional-message, .page-product .additional-information {
    font-size: 1.4rem;
    margin-bottom: 15px;
    text-align: justify;
    display: none;
}

/* cep buton */
html .botao-commerce, html .botao-commerce:hover, html .botao-commerce:link, .page-catalog .filter-button, .page-search .filter-button {
    padding: 7px 10px;
    background: white;
    color: black;
    border: 1px solid black;
}
.page-product #cepbox .botao-simular-frete {
    background: #4b8cdc;
    color: #fff;
    width: 82px;
    font-size: 1.4rem;
    right: 2px;
    height: 40px;
    /* margin-left: 10px; */
    padding: 8px;
    vertical-align: top;
}   
#news{
    border-bottom: 2px solid #374151;
}
#acepts{
    display: flex;
}
/* CART */

/* filter mobile */
#button-filter{
    position: fixed;
    width: 64px;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.719);
    z-index: 70;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 31%;
    right: 0;
}
#dropdown-filter{
    position: fixed;
    top: 24%;
    right: 0;
    z-index: 80;
}
#dropdown-filter #close{
    top: 38px;
}
#filter-mobi{
    top: 31%;
    padding-top: -10px;
    padding-bottom: 40px !important;
}
/* FILTER */
#filter_page{
    width: 100%;
    min-width: 110px;
}
.filter__form{
    margin-top: 20px;
}
/* paginate */
.page-catalog .btns-paginator, .page-catalog .page-link, .page-search .btns-paginator, .page-search .page-link {
    border: 2px solid #aaa;
    color: #a2a2a2;
    display: inline-block;
    line-height: 2rem;
    padding: 2px 4px;
    margin: 0 5px;
    vertical-align: top;
    cursor: pointer;
}
.page-catalog .paginate-links .page-current, .page-search .paginate-links .page-current {
    border: 2px solid #000;
    color: #a2a2a2;
    display: inline-block;
    line-height: 2rem;
    padding: 2px 9px !important;
    margin: 0 5px;
    vertical-align: top;
    cursor: pointer;
}
/* payment_benefits */
#line-bottom{
    border-bottom: 1px solid #EBEBEB;
}

/* categories */

#categories{
    border-right: 1px solid #EBEBEB;
}
/* tem que ser feito pelo jquery */
.pc1{
    width: 100%;
    height: 100%;
    max-width: 277px !important;
    max-height: 415.04px !important;
    top: 4.1rem;
    transition: 2s;
    display: none;
}
.pc1:hover{
    display: none;
    transition: 2s;
}
.size_btn{
    border: 1px black solid;
}

/* pop up */
#modal{
    display: none !important;
}
.modal.in .modal-dialog{
    display: none;
}
.swiper-slide-active{
    width: 100%;
    height: 100%;
}

@media (max-width: 700px)
{
    #grid-cate{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (max-width: 494px)
{
    #grid-cate{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
