<div itemid="30" class="product{{ product.has_other_prices ? ' has-other-prices' }}tw-min-w-242  lg:tw-min-w-0 lg:tw-max-w-305 tw-cursor-pointer tw-mt-24 ">
    <a href="{{ settings.buy_to_cart ? links.cart_add ~ product.id : product.link }}" data-tray-tst="vitrine_produto_link_imagem">
        <div class="product-image">
            {% if product.images %}
                {% if utils.is_mobile %}
                    <img itemprop="image" src="{{ product.images[0].large }}" alt="{{ product.name }}"  title="{{ product.name }}">
                {% else %}
                    <img itemprop="image"  data-original="{{ product.images[0].full }}" class="tw-min-w-242" src="{{ asset('img/loading.svg') }}" alt="{{ product.name }}" title="{{ product.name }}">
                {% endif %}
            {% else %}
                    <img itemprop="image" src="{{ product.images[0].large }}" alt="{{ product.name }}"  title="{{ product.name }}">
            {% endif %}
            {{ productHelper.banner() }}
            
            {% if settings.discount %}
                {% set porcentagemDesconto = 100 - ( product.price_offer / product.price ) * 100 %}
                {% if porcentagemDesconto < 100 %}
                  <span class="discount"> {{ porcentagemDesconto|number_format }}% de desconto </span>
                {% endif %}  
            {% endif %}             
        </div>
       <section id="description" class="tw-text-black tw-text-2xl">
            <div class="product-name text-secondary-theme mt-3" itemprop="name">{{ product.name }}</div>

            <meta itemprop="productID" content="{{ product.id }}"/>
            <meta itemprop="sku" content="{{ product.id }}"/>
            {% if product.ean %}
                <meta itemprop="gtin14" content="{{ product.ean }}">
            {% endif %}
            
            {% if product.description_small %}
                <meta itemprop="description" content="{{ product.description_small }}">
            {% endif %}

            
            {% if product.brand %}
            <span itemprop="brand" itemscope itemtype="http://schema.org/Organization">
                <meta itemprop="name" content="{{ product.brand }}"/>
            </span>
            {% endif %} 


            {% for discount in product.ProgressiveDiscounts %}
            {% if discount.tag %}
                <div class="product-discount-recursive-tag">{{discount.tag}}</div>
                <div class="product-discount-recursive-desc">{{discount.description}}</div>
            {% endif %}
        {% endfor %} 
        
            {% if settings.cache_infopreco %}
            <div data-module="pricing" data-snippet="snippets/product-payment" data-product-id="{{ product.id }}">
                <div class="pricing">
                    Carregando...
                </div>
            </div>
            {% else %}
                {% element 'snippets/product-payment' {"product": product } %}
            {% endif %}
       </section>
    </a>
</div>