{% set checkout = "checkout" in pages.current ? "true" : "false" %}
    <footer class="tw-bg-white tw-mb-4 tw-text-2xl ">
        {% element 'snippets/newsletter' %}
        {% element 'snippets/footermobile' %}
        <div id="footer-menu-desk" class="tw-hidden lg:tw-block" >
            <section id="submenuBottom" class="tw-bg-black tw-py-4 tw-px-4 lg:tw-flex">
              <div id="menuFooter" class="tw-w-full tw-flex tw-flex-col tw-justify-between tw-items-start tw-border-b tw-border-gray-700 py-3 tw-mb-4 lg:tw-ml-4  lg:tw-border-none lg:tw-flex-col lg:tw-items-start lg:tw-grid lg:tw-content-start ">
                <button id="divider" class="tw-flex tw-justify-between tw-items-center tw-w-full tw-mb-4 tw-border-b-2 tw-border-gray-700">
                  <h3 class="tw-text-white ">INSTITUCIONAL</h3>
                </button>
                <div id="line" class="lg:tw-w-full lg:h-px lg:tw-bg-white lg:tw-mb-4"></div>
                <section id="">
                  <nav>
                    <ul>
                      <li class="tw-my-3"><a href="{{ links.contact }}" class="tw-text-white"><strong>CONTATO</strong></a></li>
                      <li class="tw-my-3"><a href="/perguntas-frequentes" class="tw-text-white"><strong>PERGUNTAS FREQUENTES</strong></a></li>
                      <li class="tw-my-3"><a href="/dicas-de-uso" class="tw-text-white"><strong>DICAS DE USO</strong></a></li>
                      <li class="tw-my-3"><a href="/guia-de-medidas" class="tw-text-white"><strong>GUIA DE MEDIDAS</strong></a></li>
                      <li class="tw-my-3"><a href="/quem-somos" class="tw-text-white"><strong>CILA EM CASA</strong></a></li>
                    </ul>
                  </nav>
                </section>
              </div>
              <div id="menuFooter" class="tw-w-full tw-flex tw-flex-col tw-justify-between tw-items-start tw-border-b tw-border-gray-700 py-3 tw-mb-4 lg:tw-ml-4 lg:tw-border-none lg:tw-flex-col lg:tw-items-start lg:tw-grid lg:tw-content-start   ">
                <button id="divider" class="tw-flex tw-justify-between tw-items-center tw-w-full tw-mb-4 tw-border-b-2 tw-border-gray-700">
                  <h3 class="tw-text-white ">POLÍTICAS</h3>
                </button>
                <div id="line" class="lg:tw-w-full lg:h-px lg:tw-bg-white lg:tw-mb-4"></div>
                <section>
                  <nav>
                    <ul>
                      <li class="tw-my-3"><a href="/entrega-frete" class="tw-text-white"><strong>TROCA E DEVOLUÇÃO</strong></a></li>
                      <li class="tw-my-3"><a href="/entrega-frete" class="tw-text-white"><strong>ENTREGA E FRETE</strong></a></li>
                      <li class="tw-my-3"><a href="/Termo-uso" class="tw-text-white"><strong>TERMOS DE USO</strong></a></li>
                      <li class="tw-my-3"><a href="/politica-privacidade" class="tw-text-white"><strong>PRIVACIDADE</strong></a></li>
                    </ul>
                  </nav>
                </section>
              </div> 
              <div id="menuFooter" class="tw-w-full tw-flex tw-flex-col tw-justify-between tw-items-start tw-border-b tw-border-gray-700 py-3 tw-mb-4 lg:tw-ml-4 lg:tw-border-none lg:tw-flex-col lg:tw-items-start lg:tw-grid lg:tw-content-start  ">
                <button id="divider" class="tw-flex tw-justify-between tw-items-center tw-w-full tw-mb-4 tw-border-b-2 tw-border-gray-700">
                <h3 class="tw-text-white ">SOBRE NÓS</h3>
                </button>
                <div id="line" class="lg:tw-w-full lg:h-px lg:tw-bg-white lg:tw-mb-4"></div>
                <section id="menuOpitions">
                  <nav>
                    <ul>
                      <li class="tw-my-3"><a href="/quem-somos" class="tw-text-white"><strong>QUEM SOMOS</strong></a></li>
                      <li class="tw-my-3"><a href="/nossa-historia" class="tw-text-white"><strong>NOSSA HISTÓRIA</strong></a></li>
                      <li class="tw-my-3"><a href="/nossa-fabrica" class="tw-text-white"><strong>NOSSA FÁBRICA</strong></a></li>
                      <li class="tw-my-3"><a href="/praticas-responsaveis" class="tw-text-white"><strong>PRÁTICAS REPONSÁVEIS</strong></a></li>
                      <li class="tw-my-3"><a href="/nossa-loja" class="tw-text-white"><strong>NOSSA LOJA</strong></a></li>
                    </ul>
                  </nav>b
                </section>
              </div> 
              <div id="menuFooter" class="tw-w-full tw-flex tw-flex-col tw-justify-between tw-items-start  tw-py-3 tw-mb-4 lg:tw-ml-4 lg:tw-border-none lg:tw-flex-col lg:tw-items-start lg:tw-grid lg:tw-content-start  ">
                <button id="divider" class="tw-flex tw-justify-between tw-items-center tw-w-full tw-mb-4 tw-border-b-2 tw-border-gray-700">
                <h3 class="tw-text-white ">CONTATO</h3>
                </button>
                <section id="menuOpitions" x-show="acord4">
                  <div id="textContact" class="tw-text-white tw-mb-3">
                  <p class="tw-text-white">(31)2555-7566 - 11h ás 19h</p>
                  <p class="tw-text-white">(31)99142-4956 - 10h ás 17h</p>
                  <p class="tw-text-white">cila@cila.com.br</p>
                  <p class="tw-text-white">troca@cila.com.br</p>
                  </div>
                  <div id="textContact" class="tw-text-white tw-mb-3">
                  <p class="tw-text-white">Horário de funcionamento da loja física:</p>
                  <p class="tw-text-white">Segunda á Sexta - 10h ás 19h</p>
                  <p class="tw-text-white">Sábado - 9h ás 14h</p>
                  </div>
                  <div id="social" class="tw-flex tw-gap-4">
                  <i><a href="https://www.instagram.com/cila_br/"><img src="{{asset('./img/icon/insta.svg')}}" alt=""></a></i>
                  <i><a href="https://www.facebook.com/cilabeachwear"><img src="{{asset('./img/icon/fac.svg')}}" alt=""></a></i>
                  </div>
                </section>
              </div>
            </section>
          </div>
          <section id="acepts" class="tw-py-4 lg:tw-flex lg:tw-items-center lg:tw-justify-between ">
            <div id="divider" class="lg:tw-flex lg:tw-items-center lg:tw-gap-4">
              <div id="cards" class="tw-mb-4 lg:tw-mb-0">
                <ul class="tw-flex tw-justify-center tw-items-center tw-gap-4 lg:tw-gap-2">
                  {% for payment in paymentMethods.credit %}
                    <img src="{{ payment.thumbnail.url }}" alt="{{ payment.display_name }}">
                  {% endfor %} 
                </ul>
              </div>
              <div id="protected" class="tw-flex tw-items-center tw-justify-center tw-pb-4 tw-cursor-pointer tw-border-b tw-border-slate-300 lg:tw-border-none ">
                {% if (seals.ebit or seals.hackersafe) or settings.enable_seal %}
                    <ul>
                        {% if seals.ebit %}
                          <img>{{ seals.ebit }}
                        {% endif %}
                        {% if seals.hackersafe %}
                          <li>{{ seals.hackersafe }}</li>
                        {% endif %}
                        {% if settings.enable_seal %}
                          <li>{{ settings.seal_code }}</li>
                        {% endif %}
                    </ul>
                {% endif %}
              </div>
            </div>
            <div id="textFooter" class="tw-flex tw-items-center tw-text-2xl tw-px-4 tw-py-4 lg:tw-order-first lg:tw-w-4/12 lg:tw-mt-2 lg:tw-text-left">
              <p class="tw-text-center lg:tw-text-left">
                CONFECÇÕES CILA LTDA - 20.508.867/0001-60<br>
                Av. do Contorno, 6181, Savassi - Belo Horizonte - MG - CEP:30.110-110
              </p>
            </div>
          </section>
    </footer>