{% set productsAll = Products({
    'filter': 'featured',
    'limit': 50,
    'order': {'id': 'desc'}
}) %}
{% set list1 = [] %}
{% for product in productsAll %}
{% if '#!lista1!#' in product.additional_message %}
{% set list1 = list1|merge([product]) %}
{% endif %}
{% endfor %}

{% set list2 = [] %}
{% for product in productsAll %}
{% if '#!lista2!#' in product.additional_message %}
{% set list2 = list2|merge([product]) %}
{% endif %}
{% endfor %}

{% set list3 = [] %}
{% for product in productsAll %}
{% if '#!lista3!#' in product.additional_message %}
{% set list3 = list3|merge([product]) %}
{% endif %}
{% endfor %}

{% set list4 = [] %}
{% for product in productsAll %}
{% if '#!lista4!#' in product.additional_message %}
{% set list4 = list4|merge([product]) %}
{% endif %}
{% endfor %}


{% element 'snippets/banner-home' %}



{% element 'showcase-catalog' {
    "products": list1,
    "showcaseTitle": settings.list1
} %}

{% element 'showcase-catalog' {
    "products": list2,
    "showcaseTitle": settings.list2
} %}

{% element 'showcase-catalog' {
    "products": list3,
    "showcaseTitle": settings.list3
} %}

{% element 'snippets/bannermain' %}

{% element 'showcase-catalog' {
    "products": list4,
    "showcaseTitle": settings.list4
} %}

{% element 'snippets/instagram' %}
